# Project - Fundamentals of Data Analysis
***

### References
***
**Box Plot - Subject References**       
    - http://www.physics.csbsju.edu/stats/box2.html
    - https://www.khanacademy.org
    - http://vita.had.co.nz/papers/boxplots.pdf
    - asq.org/learn-about-quality/data-collection-analysis-tools/overview/box-whisker-plot.html
    
**Technical References**       
    - http://pandas.pydata.org/pandas-docs/stable/
    - https://docs.scipy.org/doc/numpy/reference/routines.random.html
    - https://www.bogotobogo.com/python/python_fncs_map_filter_reduce.php
    - https://www.analyticsvidhya.com/blog/2017/09/6-probability-distributions-data-science/
    - http://effbot.org/zone/python-list.htm
    - https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.truncnorm.html
    - https://pypi.org/project/pandasql/
***

**Box Plot** <br>
The box plot (a.k.a. box and whisker diagram) is a standardized way of displaying the distribution of data based on the five number summary: minimum, first quartile, median, third quartile, and maximum.

***
**1(a):History**<br>

- Early   1950: The basic graphic form of the boxplot called the range-bar, was established.
- Year    1969: John Tukey introduced the box plot as part of his toolkit for exploratory data analysis.
- Year    1996: Few boxplots replaced the extremes with fixed quartiles [2% min and 98% max]
- Year    1988: Vase plot, a variation of box plot, in this box is replaced with a symmetrical display of estimated density.
- Year    1996: High density region box plots were introduced
- Year    1998: Violin plots  a variation of box plot, this display the density for all data points, not just the middle half.
- Year    1998: Bivariate boxplots were introduced
- Year    1999: Few boxplots used semi-interquartile for skewness
- Year    2000: Rotational box plots were introduced
- Year    2001: Midgap plot was proposed to improve the data-ink ratio
- Year    2003: The box-percentile plot displays a modiÔ¨Åed empirical cumulative density function (ECDF).
- Year    2006: The letter-value boxplot was designed to overcome the shortcomings of the boxplot for large data.
- 2009 to 2010: Used to display distributional features like kurtosis, skewness,mean, standard error and multimodality 
<br>
***
**1(b):Situations where it is used**<br>

- **Situations** 
        - Where multiple data sets from independent sources that are related to each other in some way. 
        - For identifying outliers and for comparing distributions.
- **Examples** 
        - Test scores between schools or classrooms
        - Data from before and after a process change
        - Data from duplicate machines manufacturing the same products.
        
***

In [4]:
# Import the wine data set from the sklearn
# Load the wine data set into data frame
from sklearn.datasets import load_wine
import pandas as pd


Class0,Class1,Class2 =[],[],[]
df_alcohol = pd.DataFrame(columns=['class-0','class-1','class-2'])
                        

data = load_wine()
df = pd.DataFrame(data.data, columns=data.feature_names)
df['target'] = data['target']
i,y=0,0
                          
for index, row in df.iterrows():
    if (row['target'] == 0): df_alcohol.at[index,'class-0'] = (row['alcohol'])
for index, row in df.iterrows():
    if (row['target'] == 1): 
        df_alcohol.at[i,'class-1'] = (row['alcohol'])
        i = i+1
for index, row in df.iterrows():
    if (row['target'] == 2): 
        df_alcohol.at[y,'class-2'] = (row['alcohol'])
        y=y+1


df_alcohol

   class-0 class-1 class-2
0    14.23   12.37   12.86
1     13.2   12.33   12.88
2    13.16   12.64   12.81
3    14.37   13.67    12.7
4    13.24   12.37   12.51
5     14.2   12.17    12.6
6    14.39   12.37   12.25
7    14.06   13.11   12.53
8    14.83   12.37   13.49
9    13.86   13.34   12.84
10    14.1   12.21   12.93
11   14.12   12.29   13.36
12   13.75   13.86   13.52
13   14.75   13.49   13.62
14   14.38   12.99   12.25
15   13.63   11.96   13.16
16    14.3   11.66   13.88
17   13.83   13.03   12.87
18   14.19   11.84   13.32
19   13.64   12.33   13.08
20   14.06    12.7    13.5
21   12.93      12   12.79
22   13.71   12.72   13.11
23   12.85   12.08   13.23
24    13.5   13.05   12.58
25   13.05   11.84   13.17
26   13.39   12.67   13.84
27    13.3   12.16   12.45
28   13.87   11.65   14.34
29   14.02   11.64   13.48
..     ...     ...     ...
41   13.41   12.08   12.77
42   13.88    12.6   14.16
43   13.24   12.34   13.71
44   13.05   11.82    13.4
45   14.21   12.51   13.27
46   14.38   12.42   13.17
47    13.9   12.25   14.13
48    14.1   12.72     NaN
49   13.94   12.22     NaN
50   13.05   11.61     NaN
51   13.83   11.46     NaN
52   13.82   12.52     NaN
53   13.77   11.76     NaN
54   13.74   11.41     NaN
55   13.56   12.08     NaN
56   14.22   11.03     NaN
57   13.29   11.82     NaN
58   13.72   12.42     NaN
59     NaN   12.77     NaN
60     NaN      12     NaN
61     NaN   11.45     NaN
62     NaN   11.56     NaN
63     NaN   12.42     NaN
64     NaN   13.05     NaN
65     NaN   11.87     NaN
66     NaN   12.07     NaN
67     NaN   12.43     NaN
68     NaN   11.79     NaN
69     NaN   12.37     NaN
70     NaN   12.04     NaN

[71 rows x 3 columns]